class-sz/output/
*~
class-sz/build/
class-sz/class_sz
*.prof
class-sz/libclass.a
*out
class-sz/python/classy.c
class-sz/python/classy_szfast/classy_szfast/.ipynb*
class-sz/python/classy_szfast/classy_szfast/__pycache__
*egg-info
*egg
*.pyc
class-sz/python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
class-sz/SO_files/*
*pickle
SO_files
tSZ_c_ell_ref.txt
tSZ_params_ref.txt
tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/*mdpl*
class-sz/class_sz_auxiliary_files/
class-sz/class_sz_auxiliary_files/run_scripts/*txt
class-sz/class_sz_auxiliary_files/chill_cltsz_data_P13.txt
class-sz/class_sz_auxiliary_files/chill_cltsz_data_B12.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_pk_cb.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_r_cl_clp.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_pk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_tk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_r_N_cl.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_r_cl_clp.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_tk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
class-sz/class_sz_auxiliary_files/run_scripts/tSZ_neutrino_paper_mock_figure.py
class-sz/class_sz_auxiliary_files/run_scripts/tSZ_varying_mnu_plot_ratio.py
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum_r_N_cl.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum.txt
class-sz/class_sz_auxiliary_files/run_scripts/plot_countours_getdist.py
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_pk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_pk_cb.dat
class-sz/class_sz_auxiliary_files/run_scripts/Te_varying_params.py
class-sz/class_sz_auxiliary_files/multipole_szpower_150ghz_T10_A10.txt
class-sz/class_sz_auxiliary_files/multipole_szpower_150ghz_T10_P13.txt
*.pdf
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_tk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_pk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_pk_cb.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_r_N_cl.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/mcmc_run_scripts/run_completeness_ps_analysis.py
redshift_dependent_functions.txt
szpowerspectrum.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref_total-planck-collab-15_step_1.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref_total.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref_total-planck-collab-15_step_1.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref_total.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref_total-planck-collab-15_step_1.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref_total.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_params_ref.txt
class-sz/class_sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_pk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_pk_cb.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_redshift_dependent_functions.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_szpowerspectrum.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_tk.dat
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_szpowerspectrum_dndlnM.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_szpowerspectrum_dndlnM_masses.txt
class-sz/class_sz_auxiliary_files/run_scripts/tmp/class-sz_tmp_szpowerspectrum_dndlnM_redshifts.txt
class-sz_so_hack_070220_parameters.ini
class-sz/class_sz_auxiliary_files/run_scripts/class-sz_parameters_for_sz_ps_completeness_analysis_rotti++20.ini
class-sz/class_sz_auxiliary_files/run_scripts/tmp/tmp.ini
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov/tmp.ini
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/tmp.ini
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/tmp.ini
class-compare_with_colin_07022020_1d5r200c_parameters.ini
class-sz/class_sz_auxiliary_files/#class_sz_dev_notes.lyx#
class-sz/class_sz_auxiliary_files/run_scripts/tmp
class-sz/class_sz_auxiliary_files/run_scripts/tmp_ref_cov
class-sz/class_sz_auxiliary_files/run_scripts/tSZ_params_ref_resolved-rotti++20_snr12_step_2.ini
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_snr_figure_rotti++20.py
class-sz/class_sz_auxiliary_files/run_scripts/class-sz_parameters_rotti++20.ini
class-sz/class_sz_auxiliary_files/run_scripts/THEORY_CURVES_ROTTI++20
class-sz/class_sz_auxiliary_files/run_scripts/*rotti++20*
class-sz/class_sz_auxiliary_files/run_scripts/THEORY_CURVES_ROTTI++20.zip
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_cov_Y-Y-rotti++20.py
class-sz/class_sz_auxiliary_files/run_scripts/compare-2h.py
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_snr_figure_rotti++20-mean-mass-resolved.py
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_snr_figure_rotti++20-resolved.py
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_snr_figure_rotti++20-resolved.py
class-sz/class_sz_auxiliary_files/run_scripts/compute_and_plot_snr_figure_rotti++20-unresolved.py
class-sz/class_sz_auxiliary_files/WISE_galaxy_distributions/blue.txt
class-sz/class_sz_auxiliary_files/WISE_galaxy_distributions/green.txt
class-sz/class_sz_auxiliary_files/WISE_galaxy_distributions/README.txt
class-sz/class_sz_auxiliary_files/WISE_galaxy_distributions/red_16.2.txt
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions/blue.txt
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions/green.txt
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions/normalised_dndz.txt
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions/README.txt
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions/red_16.2.txt
class-sz/class_sz_auxiliary_files/WIxSC_galaxy_ditributions/cl4boris.txt
class-sz/class_sz_auxiliary_files/WIxSC_galaxy_ditributions/normalised_dndz.txt
class-sz/class_sz_auxiliary_files/.ipynb_checkpoints/class_sz_tabulate_profiles-checkpoint.ipynb
class-sz/class_sz_auxiliary_files/.ipynb_checkpoints/class_sz_tabulate_profiles-checkpoint.ipynb
class-sz/class_sz_auxiliary_files/.ipynb_checkpoints/class_sz_tabulate_profiles-checkpoint.ipynb
class-sz/class_sz_auxiliary_files/UNWISE_compton/milca_filt_wise1_dell.fits
class-sz/class_sz_auxiliary_files/UNWISE_compton/milca_filt_wise2_dell.fits
class-sz/class_sz_auxiliary_files/UNWISE_compton/milca_filt_wise7_dell.fits
class-sz/class_sz_auxiliary_files/UNWISE_compton/nilc_filt_wise1_delll.fits
class-sz/class_sz_auxiliary_files/UNWISE_compton/nilc_filt_wise2_dell.fits
class-sz/class_sz_auxiliary_files/UNWISE_compton/nilc_filt_wise7_dell.fits
class-sz/class_sz_auxiliary_files/run_scripts/figures/Screenshot 2020-09-29 at 00.27.41.png
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/blue_c_ell_kappa_mu.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/green_c_ell_kappa_mu.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/NEWblue_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/NEWgreen_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/NEWred_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/README.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/red_c_ell_kappa_mu.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/FINALblue_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/FINALgreen_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/kappa_x_delta_g_unWISE/FINALred_c_ell_kappa_g.txt
class-sz/class_sz_auxiliary_files/run_scripts/yxg/
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_ditributions

class-sz/class_sz_auxiliary_files/run_scripts/unwise_filter.ipynb
notebooks/cl_ST_sz-wip.ipynb
notebooks/.ipynb_checkpoints/cl_ST_sz-wip-checkpoint.ipynb
class-sz_simple_cb.ini
# Makefile
class-sz/python/setup.py
notebooks/.ipynb_checkpoints

notebooks/.ipynb_checkpoints/cl_ST_sz-checkpoint.ipynb
*.txt
minimal.ini
class-sz/class_sz_auxiliary_files/UNWISE_galaxy_distributions.zip
Makefile_stampede2
class-sz/python/setup_stampede2.py
source/szpowerspectrum_bkp.c
notebooks/SO_cluster_counts.ipynb
minimal2.ini
minimal2.ini
minimal3.ini
class_sz_leaks
class_sz_leaks_old
notebooks/test_parameters.ini
notebooks/test_unused_parameters
test_parameters.ini
test_unused_parameters
notebooks/NzCheck_noSelFn.csv
notebooks/NzCheck_withSelFn.csv
notebooks/advact_ttg_211121.npy
notebooks/planck_unwise_ttg_211121.npy
notebooks/planck_unwise_ttg_221121.npy
notebooks/class_v_websky_compton-y.png
notebooks/save new.ipynb
notebooks/dndmtab.npz
notebooks/test_unwise_ttg_150122.npy
notebooks/planck_unwise_ttg_fb_Aalpha_Abeta_160122.npy
notebooks/advact_unwise_ttg_fb_Aalpha_Abeta_160122.npy
class-sz/class_sz_auxiliary_files/simo_kSZ_bispectrum_unWISE2020.py
test_pk.dat
test_tk.dat
#notebooks/class_sz_planck_act_cib-cross-auto.ipynb
notebooks/class_sz_planck_act_cib-cross-auto.npy
notebooks/class_sz_planck_act_cib-cross-auto.npz
notebooks/class_sz_planck_act_cib-cross-auto_w220.npy
class-sz/class_sz_auxiliary_files/noise_curves/nlkk_v3_1_0_deproj0_SENS2_fsky0p4_it_lT30-3000_lP30-5000.dat
class-sz/class_sz_auxiliary_files/noise_curves/kappa_deproj0_sens0_16000_lT30-3000_lP30-5000.dat
notebooks/I0_many_nus.png
notebooks/test_fisher_so_unwise_blue_fb_prior.npy
notebooks/test_fisher_so_unwise_blue_fb_noprior.npy
notebooks/test_fisher_so_solensing_without_prior_on_fb.npy
notebooks/test_fisher_so_solensing_with_prior_on_fb.npy
notebooks/test_fisher_so_lsst_fb_without_prior.npy
notebooks/test_fisher_so_lsst_fb_with_prior.npy
notebooks/test_fisher_so_des_fb_without_prior.npy
notebooks/test_fisher_so_des_fb_with_prior.npy
notebooks/test_fisher_s4_unwise_blue_fb_prior.npy
notebooks/test_fisher_s4_unwise_blue_fb_noprior.npy
notebooks/test_fisher_s4_s4lensing_with_prior_on_fb.npy
notebooks/test_fisher_s4_s4lensing.npy
notebooks/test_fisher_s4_lsst_fb_without_prior.npy
notebooks/test_fisher_s4_lsst_fb_with_prior.npy
notebooks/test_fisher_s4_des_fb_prior.npy
notebooks/test_fisher_s4_des.npy
notebooks/test_fisher_advact_unwise_blue_fb_prior.npy
notebooks/test_fisher_advact_unwise_blue_fb_noprior.npy
notebooks/test_fisher_advact_lsst_fb_without_prior.npy
notebooks/test_fisher_advact_lsst_fb_with_prior.npy
notebooks/test_fisher_advact_des_fb_without_prior.npy
notebooks/test_fisher_advact_des_fb_with_prior.npy
notebooks/test_fisher.npy
notebooks/kSZ2g_inverse_fisher_planck_x_unwise_blue_agn_180422.npy
notebooks/kSZ2g_inverse_fisher_planck_x_unwise_blue_agn_ffree10pc_180422.npy
class_sz_test_ola.ini
class_sz_test_mat.ini
class_sz_test_mat.ini
class-sz/class_sz_auxiliary_files/noise_curves/advact_lensing_noise.dat
class-sz/python/dist/classy_sz-2.9.4-py3.8-macosx-10.9-x86_64.egg
class-sz/python/classy_sz.egg-info/PKG-INFO
notebooks/nq_dr5.jpeg
notebooks/nz_dr5.jpeg
notebooks/planck_like_websky_clusters_qle6_hseB1d7_240822.csv
notebooks/planck_like_websky_clusters_qle6_hseB1d7_thetaextrap_240822.csv
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-11.0-arm64.egg
class-sz/class_sz_auxiliary_files/cls_mdpl2_v0.7_cib_planck_217ghz.dat
class-sz/class_sz_auxiliary_files/cls_mdpl2_v0.7_cib_planck_217ghz_nomask.dat
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-10.9-x86_64.egg
*.egg
notebooks/colcorr_plc.png
notebooks/yxk.ipynb
act_extended_act_plus_planck_wbp_less353545_cov_april22_mtsz_logspaced_051122.input.yaml
act_extended_act_plus_planck_wbp_less353545_cov_april22_mtsz_logspaced_051122.updated.yaml
notebooks/websky_cib_and_tszxcib-summary_and_examples-compare_with_dr4_model.ipynb
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-10.9-x86_64.egg
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-10.9-x86_64.egg
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-10.9-x86_64.egg
class-sz/python/dist/classy_sz-2.9.4-py3.9-macosx-10.9-x86_64.egg
*.egg
*.egg
class-sz/python/dist/*
class-sz/class_sz_auxiliary_files/cls_mdpl2_v0.7_cib_planck_143ghz.dat
class-sz/class_sz_auxiliary_files/cls_mdpl2_v0.7_cib_planck_143ghz_nomask.dat
class-sz/class_sz_auxiliary_files/cls_mdpl2_len_mag_cibmap_planck_143_143.dat
class-sz/class_sz_auxiliary_files/cls_mdpl2_len_mag_cibmap_planck_217_217.dat
class-sz/python/autosetup.py
notebooks/classy_szfast-cluster-counts-fft.ipynb
class_sz_cluster_counts_high_precision_planck_unbinned_fft.ini
class-sz/python/classy_sz.cpython-39-darwin.so
class_sz_mcmcs/notebooks/.ipynb_checkpoints/get_cosmopower_chains_planck_szcounts_unbinned-checkpoint.ipynb
class_sz_mcmcs/notebooks/get_cosmopower_chains_planck_szcounts_unbinned.ipynb
class_sz_mcmcs/chains
*checkpoint.ipynb
notebooks/class_sz_tutorial_notebooks/.ipynb_checkpoints/class_sz_cmb_cls-checkpoint.ipynb
class_sz_mcmcs/notebooks/get_class_sz_chains_desy3_with_cosmosis.ipynb
notebooks/dndq_test.npy
notebooks/dndq_test.npy
notebooks/class_sz_tutorial_notebooks/LSST.ipynb
class_sz_test_rhoe2h_bug.ini
notebooks/dndq_test.npy
notebooks/dndq_test.npy
notebooks
class-sz/class_sz_auxiliary_files/maniyar_cib_benchmark/data_files/
class-sz/class_sz_auxiliary_files/maniyar_cib_benchmark/data_files/matter_power_spectra/
class-sz/class_sz_auxiliary_files/class_sz_dev_notes.bib
class-sz/class_sz_auxiliary_files/class_sz_dev_notes.lyx
class-sz/class_sz_auxiliary_files/class_uha_6may23_edeppaper_lcdmbf_pknl.pickle
class-sz/class_sz_auxiliary_files/class_uha_6may23_edeppaper_lcdmbf.pickle
class-sz/class_sz_auxiliary_files/class_uha_6may23_edeppaper_lcdmbf_pkl.pickle
class-sz/pt_matrices/*
class-sz/pt_matrices
class-sz/class_sz_auxiliary_files/*pickle
class-sz/class_sz_test_yphi.ini
class-sz/class_sz_test_phiphi29pk.dat
class-sz/class_sz_test_phiphi29tk.dat
class-sz/class
class-sz/class_sz_simple_alinasims.ini
class-sz/test_b12_sz_isw.ini
class-sz/test_b12_sz_isw.py
class-sz/test_pk_nl.dat
class-sz/ORTHOGONAL_NG_matrices
class-sz/pt_matrices 
class-sz/external_Pk
cosmopower-organization
cosmopower-organization/wcdm/
cosmopower-organization/neff/
cosmopower-organization/mnu/
cosmopower-organization/mnu-3states/
cosmopower-organization/lcdm/
cosmopower-organization/ede/
class-sz/class_sz_auxiliary_files/excludes
class_sz-*
class-sz/python/classy.c
class-sz/Makefile
class-sz/python/classy_szfast
class-sz/set_class_sz_env.sh
set_class_sz_env.sh
class-sz/test
build