output/
*~
build/
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
sz_auxiliary_files/SO_files/*
SO_files
tSZ_c_ell_ref.txt
tSZ_params_ref.txt
tSZ_trispectrum_ref.txt
sz_auxiliary_files/chill_cltsz_data_P13.txt
sz_auxiliary_files/chill_cltsz_data_B12.txt
sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_c_ell_ref.txt
sz_auxiliary_files/cobaya_class_sz_likelihoods/cobaya_reference_trispectrum/tSZ_trispectrum_ref.txt
Makefile
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_pk_cb.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_r_cl_clp.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_pk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_tk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_r_N_cl.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_r_cl_clp.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_szpowerspectrum.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_tk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum_cov_N_cl.txt
sz_auxiliary_files/run_scripts/tSZ_neutrino_paper_mock_figure.py
sz_auxiliary_files/run_scripts/tSZ_varying_mnu_plot_ratio.py
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum_r_N_cl.txt
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_szpowerspectrum.txt
sz_auxiliary_files/run_scripts/plot_countours_getdist.py
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_pk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov/class-sz_tmp_pk_cb.dat
sz_auxiliary_files/run_scripts/Te_varying_params.py
sz_auxiliary_files/multipole_szpower_150ghz_T10_A10.txt
sz_auxiliary_files/multipole_szpower_150ghz_T10_P13.txt
*.pdf
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_tk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_pk.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec_10/class-sz_tmp_pk_cb.dat
sz_auxiliary_files/run_scripts/tmp_ref_cov_no_trispec/class-sz_tmp_szpowerspectrum_r_N_cl.txt
sz_auxiliary_files/cobaya_class_sz_likelihoods/mcmc_run_scripts/run_completeness_ps_analysis.py
redshift_dependent_functions.txt
szpowerspectrum.txt
